# Configuración de la Aplicación
APP_NAME=backendFastApi
ENV=dev

# Orígenes permitidos para CORS (separados por coma)
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

# Configuración de Base de Datos para uso tradicional (local)
DB_SERVER=localhost\SQLEXPRESS
DB_NAME=ProyectoAFE_RBAC
DB_TRUSTED_CONNECTION=yes
DB_USER=
DB_PASSWORD=

# Configuración del Token JWT
JWT_SECRET_KEY=cambiar_esta_clave_por_una_segura_jwt
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440

# Credenciales de Cloudinary (Para subir imágenes)
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

# Configuración de Pasarela de Pagos Wompi
WOMPI_APP_ID=tu_wompi_app_id
WOMPI_API_SECRET=tu_wompi_api_secret
NGROK_URL=http://localhost:8000

# Configuración de Correo SMTP (Ej. Sendgrid o Gmail)
MAIL_SERVER=smtp.sendgrid.net
MAIL_PORT=587
MAIL_USERNAME=apikey
MAIL_PASSWORD=tu_api_key_de_envio
MAIL_FROM=tu_correo@gmail.com
MAIL_FROM_NAME="AFE Resort & Spa"
MAIL_STARTTLS=True
MAIL_SSL_TLS=False
